In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
ruta = "iris.csv"
data_iris = pd.read_csv(ruta)
data_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
iris_data = data_iris.drop(columns=['Id'])
promedio_por_especie = iris_data.groupby('Species').mean()
promedio_por_especie

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [4]:
x1 = data_iris['SepalLengthCm']
y1 = data_iris['SepalWidthCm']
x2 = data_iris['PetalLengthCm']
y2 = data_iris['PetalWidthCm']

In [6]:
def distance_euclidiana(x1,y1,x2,y2):

    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2)

print("Distancia Euclidiana entre (x1, y1) y (x2, y2):\n", distance_euclidiana)

Distancia Euclidiana entre (x1, y1) y (x2, y2):
 <function distance_euclidiana at 0x00000295D9991AB0>

In [ ]:
def plot_points_and_line(x1, y1, x2, y2):
    # Crear una figura y un sistema de ejes
    fig, ax = plt.subplots()

    # Graficar los puntos
    ax.scatter([x1, x2], [y1, y2], color='blue')

    # Graficar la línea entre los puntos
    ax.plot([x1, x2], [y1, y2], linestyle='--', color='red')

    # Etiquetar los puntos
    ax.text(x1, y1, f'({x1}, {y1})', fontsize=12, ha='right')
    ax.text(x2, y2, f'({x2}, {y2})', fontsize=12, ha='right')

    # Calcular la distancia euclidiana
    distance = distance_euclidean(x1, y1, x2, y2)

    # Colocar la etiqueta de la distancia euclidiana
    ax.text((x1 + x2) / 2, (y1 + y2) / 2, f'{distance:.2f}', fontsize=12, ha='center')

    # Ajustar los límites del gráfico
    ax.set_xlim(min(x1, x2) - 1, max(x1, x2) + 1)
    ax.set_ylim(min(y1, y2) - 1, max(y1, y2) + 1)

    # Etiquetas de los ejes
    ax.set_xlabel('Eje X')
    ax.set_ylabel('Eje Y')

    # Título del gráfico
    ax.set_title('Distancia Euclidiana')

    # Mostrar el gráfico
    plt.grid(True)
    plt.show()

    

    plot_points_and_line(x1, y1, x2, y2)