In [22]:
import pandas as pd
import numpy as np

In [31]:
x = [1, 2, 2, 3, 4, 4, 5, 6]
y = [2, 3, 4, 4, 4, 6, 5, 7]

data = {'x': x,
        'y': y }

df = pd.DataFrame(data)    
df['x*y'] = df['x']* df['y']
df['x**2'] = df['x']**2
df

   x  y  x*y  x**2
0  1  2    2     1
1  2  3    6     4
2  2  4    8     4
3  3  4   12     9
4  4  4   16    16
5  4  6   24    16
6  5  5   25    25
7  6  7   42    36

In [28]:
sum_X = df['x'].sum()
sum_Y = df['y'].sum()
sum_XY = df['x*y'].sum()
sum_XX = df['x**2'].sum()

prom_X = df['x'].mean()
prom_Y = df['y'].mean()

In [25]:
num = 8 * sum_XY - sum_X * sum_Y
den = 8* sum_XX - (sum_X)**2

m = num/den

In [33]:
b = prom_Y - m * prom_X